* {
  margin: 0px;
  padding: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.bg-purple {
  background: #19167c;
}

@media (min-width:1300px){
  .container ,.container-lg,.container-md,.container-sm,.container-xl{
    max-width: 1250px;
  }
}

::-webkit-scrollbar{
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb{
  background: #ccc !important;
}

::-webkit-scrollbar-track{
  background: transparent !important;
}

.headerWrapper .top-strip {
  padding: 10px 0px;
}

.headerWrapper .top-strip p {
  color: rgb(232, 226, 226);
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 15px 0px;
  
}
.headerWrapper{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  padding-bottom: 10px;
}

header .logoWrapper .tagline{
  font-size: smaller;
  color: grey;

}
.logoWrapper img {
  width: 100%;
  
}
.headerWrapper .header .part2 .countryDrop {
  width: 170px;
  height: 60px;
  color: #000 !important;
  min-width: 170px;
  text-align: left;
  justify-content: flex-start;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 7px;
  padding: 10px 10px;
}
.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.4) !important;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg{
  opacity: 0.7;
  margin-left: 50px;
}


 .headerSearch {
  width: 60%;
  height: 60px;
  background-color: #f3f4f7;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
 .headerSearch input{
background-color: transparent !important;
outline: none !important;
font-size: 14px;
color: rgba(0,0,0,0.8);
width: 100%;
height: 40px;
border: 0px !important;
padding: 0px 20px !important;


}

 .headerSearch button{
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: #000;
}
 .headerSearch button svg{
  font-size: 25px;
  
}

header .part3{
  margin-left: 80px;
}

.container{
  min-width: 80%;
}
header .part3 .circle{
align-items: center;
justify-content: center;
min-width: 45px !important;
height: 45px !important;
width: 45px !important; 
border-radius: 50% !important;
border: 1px solid rgba(0, 0, 0, 0.1) !important;
color: #000;
margin-right: 19px;
margin-left: 7px;
}

header .part3 .circle svg{
  font-size: 20px;
}

.cartTab Button{
background: #fff1ee !important;
}
.cartTab Button svg{
  color: #ea2b0f !important;
}
.cartTab .price{
  font-size: 16px;
  color:rgba(0,0,0,0.8);
  font-weight: 700;
}

.cartTab .count{
 position: absolute;
 top: -4px;
 right: 7px;
 background-color: #ea2b0f;
 border-radius: 50%;
 color: #fff;
 display: flex;
 width: 20px;
 height: 20px;
}


.locationModal .MuiPaper-elevation{
  padding: 25px;
  position: relative;
}
.locationModal .countryList{
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.locationModal .countryList li{
  width: 100%;
  list-style: none;
}
.locationModal .countryList li Button{
  width: 100%;
  text-transform: capitalize !important;
  color: #000;
  justify-content: flex-start;
  padding: 12px 10px;
}

.locationModal .countryList li Button :hover{
  background-color: #f1f1f1 !important;
}

.locationModal .countryList li button.active{
  background-color: #f7f3f3 !important;
}
.locationModal .close_{
position: absolute;
top: 10px;
right: 10px;
color: #000 !important;
min-width: 40px !important;
width: 40px !important;
height: 40px !important;
border-radius: 50% !important;
}

.locationModal .close_ svg{
  font-size: 22px;
}

nav .container{
  margin-top: 18px;
}
nav .allCatTab{
  background-color: #2bbef9;
  padding: 15px 20px !important;
  border-radius: 30px;
  
}

nav .allCatTab *{
  color: white;

}

nav .allCatTab .text{
  font-weight: 600;
}

nav .allCatTab:hover{
  background-color: #2bbef9;
}


nav .allCatTab .icon1 svg{
  font-size: 20px !important;
  margin-right: 8px;
}

nav .allCatTab .icon2 svg{
  font-size: 15px !important;
  margin-left: 8px;
}

nav .navPart2 ul li a{
 font-size: 15px;
 font-weight: 600;
 text-decoration: none;
 color: rgba(0, 0, 0, 0.7);
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 10px 20px;
 transition: all 0.2s ease-in-out;
 border-radius: 25px;
}
nav .navPart2 ul li a svg{
  font-size: 20px;
 margin-right: 5px;
 
}



nav .navPart2 ul li a:hover{
  background-color: #f0faff;
  color: #2bbef9;
}